.obj
.moc
Makefile
*.stamp
*.pc
*.prl
*.so*
examples/compositor/example-compositor
wayland-input-method-*
wayland-text*
wayland-webos-shell-surface-*
wayland-webos-extension-*
wayland-webos-system-pip-*
*.swp
moc_*
*.moc
*.o
tags
tests/extensions/xinput/xinput
tests/shellsurface/shellsurface
tests/extensions/xinput/.rcc/
